<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.QLKTXConnectionString" connectionString="Data Source=LUAN-PC\SQLEXPRESS;Initial Catalog=QLKTX;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAO.Properties.Settings.KytucxaConnectionString" connectionString="Data Source=LUAN-PC\SQLEXPRESS;Initial Catalog=Kytucxa;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>